/* eliminates the gap between the nav and jumbotron */
.navbar {
  margin-bottom: 0px;
}

.nav-item {
  font-size: 18px;
}

/* forces carousel item containers to take up */
/* full width and max height of 600 */
.carousel .item {
  width: 100%;
  max-height: 600px;
}

/* forces carousel images to take up full width */
.carousel .item img {
  width: 100%;
}

.threeup-container {
  margin-top: 20px;
}

/* grey background for footer */
.footer {
  background: #DDDDDD;
}

.footer .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumbnail img {
  width: 100%;
}
